
<div class="card product-container">
    <a href="details/{{product.id}}">
        <img class="card-img-top product-image" src="{{product.url}}" alt="Card image cap">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6>Price: ${{ product.price }}</h6>
        <form #form="ngForm" (ngSubmit)="submitForm()">
            <div class="form-group" >
                <select name="quantity" class="form-control select-input" [(ngModel)]="quantity" required default="1">
                    <option *ngFor="let i of choices">{{ i }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add to cart</button>
        </form>
    </div>
</div>