<div class="detail-container" >
    <img src="{{product.url}}" alt="Card image cap">
    <div class="detail-item">
        <h2>{{product.name}}</h2>
        <span>{{product.description}}</span>
        <h6>Price: ${{product.price}}</h6>
        <br>
        <form #form="ngForm" (ngSubmit)="submitForm()">
            <div class="form-group" >
                <input name="quantity" type="number" class="form-control select-input" [(ngModel)]="quantity" min="1" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add to cart</button>
        </form>
        <div class="back-link">
            <a class="back-link" routerLink="">Back to Product List</a>
        </div>
    </div>
</div>
<div>

</div>